body {
    background-image: url("../images/abstract_background.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#target {
    margin: 20px;
    padding: 15px;
    font-weight: 500;
}

.crystals {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.crystal {
    border: 1px solid black;
    height: 200px;
    width: 200px;
}